ion-button.selected {
  --background: var(--ion-color-primary-shade);
}

#container,
#rendererContainer {
  width: 100%;
  height: calc(100% - 200px); // Adjust based on your button heights
}

#threeContainer {
  background-color: #f0f0f0;
}
.icon-size {
  font-size: 1.5rem;
}
.image-containers {
  position: relative;
  top: -60px;
  // right: -40px;
  // overflow: hidden;
  border-radius: 0 0 75px 75px;

  /* Adjust radius as needed */
  justify-content: flex-end;
  align-items: flex-end;
}

.image-container {
  position: relative;
  // top: -40px;
  // right: -40px;
  width: 100%;
  height: auto;
  // overflow: hidden;
  border-radius: 500px;
  /* Adjust radius as needed */
  justify-content: flex-end;
  align-items: flex-end;
}

.background {
  --background: white;
}

.color-black {
  color: #0a0a0a;
}
.paddingr {
  padding-right: 12px;
}
.flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.items {
  flex: 1;
  font-size: 0.8rem;
  // width: 50%;
}
.adjustments {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-menu-div {
  margin: 16px;
  margin-top: 30px;
}
.reset-button {
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  width: 100%;
  // margin-top: 16px
}
.half-width-input {
  width: 50%; /* Takes up half of the screen */
  background-color: white; /* Sets background to white */
  border: 1px solid black; /* Black border around the input */
  padding: 8px; /* Optional padding for better appearance */
  box-sizing: border-box; /* Includes padding and border in total width */
  outline: none; /* Removes the default focus outline */
  border-radius: 10px;
  margin-left: 20px;
  color: #0a0a0a;
  // flex: 1;
}
.no-border {
  border: 0px solid black; /* Black border around the input */

  // flex: 1;
}
.forInput {
  // flex: 1;
  margin-left: 10px;
}
// ion-footer {
//   position: fixed;
//   bottom: 0;
//   width: 100%;
//   background: white;
// }

ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  justify-content: center;
  align-items: center;
}

.fotter-color {
  --background: white;
  justify-content: center;
  align-items: center;
}

.send-button {
  height: 100%;
  margin: 0;
}
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  align-self: center;
  justify-content: center;
  height: 100%;
  padding-left: 10px;

  background: transparent;
  border: 1px solid black;
  border-radius: 20px;

  overflow: hidden;
}
.text-area {
  --color: #0a0a0a;
  align-items: center;
  justify-self: center;
  align-self: center;
  justify-content: center;
  font-size: 0.8rem;
  --highlight-color: #0a0a0a;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  margin: 0px;
  // --inner-padding-top: 100px;
  // --inner-padding-bottom: 100px;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --highlight-height: 0;
  min-height: auto;
}
.custom-back-button {
  --padding-start: 7px;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  margin: 0;
  --min-width: auto; /* Adjust min-width if necessary */
  --background: transparent; /* Adjust background if needed */
}
