ion-button.selected {
    --background: var(--ion-color-primary-shade);
}

#container,
#rendererContainer {
    width: 100%;
    height: calc(100% - 200px); // Adjust based on your button heights
}

#threeContainer {
    background-color: #f0f0f0;
}