<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>
                    <label for="wallHeight">Wall Height (cm):</label>
                    <input id="wallHeight" type="number" [(ngModel)]="wallHeight" (change)="convert2DTo3D()">
                </div>
                <div>
                    <label for="wallWidth">Wall Width (cm):</label>
                    <input id="wallWidth" type="number" [(ngModel)]="wallWidth" (change)="convert2DTo3D()">
                </div>
                <div>
                    <label for="doorHeight">Door Height (cm):</label>
                    <input id="doorHeight" type="number" [(ngModel)]="doorHeight" (change)="convert2DTo3D()">
                </div>
                <div>
                    <label for="Window Hieght">Window Height (cm)</label>
                    <input type="number" [(ngModel)]="windowHeight" (change)="convert2DTo3D()">
                </div>

            </ion-col>
            <ion-col>
                <input type="color" [value]="currentWallColor" (change)="onWallColorChange($event)">
                <input type="color" [value]="currentDoorColor" (change)="onDoorColorChange($event)">
                <input type="color" [value]="currentWindowColor" (change)="onWindowColorChange($event)">
                <input type="color" [value]="currentRoofColor" (change)="onRoofColorChange($event)">
                <ion-button (click)="resetColors()">Reset Colors</ion-button>

            </ion-col>
            <ion-col>
                <div>{{generatedContent}}</div>
                <ion-button (click)="generateContents()">Generate house</ion-button>
            </ion-col>
            <ion-col>
                <div>
                    <label for="scaleInput">Scale (pixels per meter):</label>
                    <input id="scaleInput" type="number" [(ngModel)]="currentScale" (change)="updateScale()">
                </div>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label>Length Scale Factor</ion-label>
                    <ion-range min="0.5" max="2" step="0.1" [(ngModel)]="lengthScaleFactor" (ionChange)="updateLengthScale()"></ion-range>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button (click)="toggleGrid()" expand="block" size="small">
                    <ion-icon name="grid-outline"></ion-icon>
                    Grid
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="setMode('wall')" [class.selected]="currentMode === 'wall'" expand="block">Draw Wall</ion-button>

            </ion-col>
            <ion-col>
                <ion-button (click)="setMode('window')" [class.selected]="currentMode === 'window'" expand="block">Draw Window</ion-button>

            </ion-col>
            <ion-col>
                <ion-button (click)="setMode('door')" [class.selected]="currentMode === 'door'" expand="block">Draw Door</ion-button>

            </ion-col>
            <ion-col>
                <ion-button (click)="setMode('select')" [class.selected]="currentMode === null" expand="block">Select Mode</ion-button>

            </ion-col>
            <ion-col>
                <ion-button (click)="deleteSelected()">Delete Selected</ion-button>

            </ion-col>
            <ion-col>
                <ion-button (click)="drawSquare(this.segments1)">Draw Auto1</ion-button>
                <ion-button (click)="drawSquare(this.segments2)">Draw Auto2</ion-button>

            </ion-col>
            <ion-col>
                <ion-button (click)="onClearAllClick()">Clear Drawing</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="toggleDistanceLabels()">Toggle Labels</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="convert2DTo3D()">Convert to 3D</ion-button>
            </ion-col>
            <ion-col>
                <ion-button *ngIf="isRoofVisible" (click)="toggleRoof()">Remove Roof</ion-button>
                <ion-button *ngIf="!isRoofVisible" (click)="toggleRoof()">Insert Roof</ion-button>
            </ion-col>

            <ion-col>

                <ion-button (click)="downloadFloorPlan()">Download Floor Plan</ion-button>
            </ion-col>
            <ion-col>
                <button (click)="export3DModel('stl')">Download 3D Model (STL)</button>
                <button (click)="export3DModel('obj')">Download 3D Model (OBJ)</button>
            </ion-col>
            <!-- <ion-col>
              <ion-button (click)="undo()">Undo</ion-button>
              <ion-button (click)="redo()">Redo</ion-button>
          </ion-col> -->
            <!-- Additional buttons will be added here -->
        </ion-row>
    </ion-grid>
    <div #container></div>
    <div #threeContainer></div>

    <!-- <div #threeContainer *ngIf="show3D" style="width: 100%; height: 100vh;"></div> -->
</ion-content>